@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url('../fonts/#{$file_name}.woff') format('woff'), url('../fonts/#{$file_name}.woff2') format('woff2');
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import 'fonts';
@import 'reset.scss';
@import 'colors.scss';

// ===== GENERAL ======

:root {
	font-size: 10px;
}

body {
	&._lock {
		overflow: hidden;
	}
}

.container {
	max-width: 1170px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

// @import 'YOUR-FILE.scss';